@use "../../assets/sass/variables" as *;

.counter__container{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  .counter__name{
    margin: 10px;
    color: $color-secondary;
    font-size: 1.5rem;
  }
  .counter__result{
    display: flex;
    justify-content: center;
    font-size: 2rem;
    color: $color-black;
  }
  .button__container{
    display: flex;
    justify-content: center;
  }
}