@use "../../assets/sass/variables" as *;

.counter-container{
  display: flex;
  justify-content: center;
  flex-direction: column;
  .counter{
    margin: 10px;
    color: $color-secondary;
    justify-content: center;
    font-size: 2rem;
    padding-left: 6px;
  }
  .result{
    display: flex;
    justify-content: center;
    font-size: 2.5rem;
    color: $color-black;
  }
  
}