@use "../../assets/sass/variables" as *;

.employee__info{
  display: grid;
  justify-content: center;
  align-items: center;
  border: 3px solid $color-secondary;
  border-radius: 1rem;
  background-color: $font-color;
  margin: 1rem;
  padding: 1rem;
  h3{
    color: $color-primary;
    font-size: 1rem;
  }
  .function{
    display: flex;
    justify-content: center;
  }
  .button-container{
    display: flex;
    justify-content: center;
  }
}