.header {
  background-color: #5B616A;
  display: flex;
  justify-content: center;
  color: #fcf7f8;
  margin-bottom: 3rem;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(5, 300px);
  grid-template-rows: repeat(2, 300px);
  gap: 2rem;
}
.grid-container .profileCard {
  border: 2px solid #5B616A;
}