@use "./assets/sass/variables" as *;

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@media (min-width: 375px) {
  .profileCard{
    grid-template-columns: repeat(1, 300px);
    grid-template-rows: repeat(10, 300px);
    gap: 10px;
  }
}

@media (min-width: 768px){
  .profileCard{
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(5, 350px);
    grid-template-rows: repeat(2, 350px);
    gap: 20px;
  }
}