
@use "./assets/sass/variables" as *;

.header {
  background-color: $color-black;
  display: flex;
  justify-content: center;
  color: $color-white;
  margin-bottom: 3rem;
}

.profileCard{
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(5, 450px);
  grid-template-rows: repeat(2, 450px);
  gap: 20px;
  
}